<!DOCTYPE html>
<html ng-app="EnvironmentManager">
<head>
    <title>Environment Manager</title>
    <base href="/" />
    <link rel="stylesheet" href="assets/css/bootstrap-3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="assets/css/angular-ui-grid.min.css" />
    <link rel="stylesheet" href="assets/css/select.min.css" />
    <link rel="stylesheet" href="styles/app-generated.css" />
    <link rel="stylesheet" href="assets/css/jsondiffpatch.css"/>

    <link href="assets/images/favicon.ico" rel="SHORTCUT ICON"/>
    <link href="assets/images/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
    <link href="assets/images/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">

    <!-- Libraries -->
    <!-- build:js scripts/lib.js -->
    <script type="text/javascript" src="bower_components/jsondiffpatch/public/build/jsondiffpatch-full.js"></script>
    <script type="text/javascript" src="bower_components/jsondiffpatch/public/build/jsondiffpatch-formatters.js"></script>

    <script type="text/javascript" src="assets/lib/ace.js"></script>
    <script type="text/javascript" src="assets/lib/ajv.min.js"></script>
    <script type="text/javascript" src="assets/lib/mode-json.js"></script>
    <script type="text/javascript" src="assets/lib/worker-json.js"></script>
    <script type="text/javascript" src="assets/lib/ext-searchbox.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="assets/lib/ui-ace.min.js"></script>
    <script type="text/javascript" src="assets/lib/angular-file-saver.bundle.min.js"></script>
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="assets/lib/angular-moment.min.js"></script>
    <script type="text/javascript" src="assets/lib/ui-bootstrap-tpls-2.1.3.min.js"></script>
    <script type="text/javascript" src="assets/lib/linq.min.js"></script>
    <script type="text/javascript" src="assets/lib/spin.min.js"></script>
    <script type="text/javascript" src="assets/lib/thenBy.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script type="text/javascript" src="assets/lib/ui-grid.min.js"></script>
    <script type="text/javascript" src="bower_components/later/later.min.js"></script>
    <script type="text/javascript" src="bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="bower_components/prettycron/prettycron.js"></script>
    <script type="text/javascript" src="assets/lib/glob-intersection.js"></script>
    <script type="text/javascript" src="assets/lib/select.min.js"></script>
    <!-- endbuild -->


    <!-- Common code TODO(filip): fix paths after updating routing to something more sensible -->
    <script type="text/javascript" src="user.js"></script>
    <script type="text/javascript" src="cronService.js"></script>

    <script src="/api/initial-data"></script>

    <!-- build:js scripts/app.js -->
    <!-- inject:js -->
    <script src="app/environments/environments.module.js"></script>
    <script src="app/environments/dialogs/asg/asgSingleService.js"></script>
    <script src="app/environments/dialogs/asg/asgSingleInstance.js"></script>
    <script src="app/environments/dialogs/asg/asgServices.js"></script>
    <script src="app/environments/dialogs/asg/asgLaunchConfig.js"></script>
    <script src="app/environments/dialogs/asg/asgInstances.js"></script>
    <script src="app/operations/operations.module.js"></script>
    <script src="app/operations/upstream/directives/lbServersStatesCell.js"></script>
    <script src="app/environments/summary/EnvironmentsSummaryController.js"></script>
    <script src="app/environments/settings/ManageEnvironmentSettingsController.js"></script>
    <script src="app/environments/servers/serversView.js"></script>
    <script src="app/environments/servers/ManageEnvironmentServersController.js"></script>
    <script src="app/environments/schedule/ManageEnvironmentScheduleController.js"></script>
    <script src="app/environments/directives/healthChecks.js"></script>
    <script src="app/environments/directives/currentDesiredTitle.js"></script>
    <script src="app/environments/dialogs/DeployModalController.js"></script>
    <script src="app/environments/dialogs/CreateEnvironmentController.js"></script>
    <script src="app/environments/dialogs/ASGDetailsModalController.js"></script>
    <script src="app/operations/upstream/UpstreamDetailsModalController.js"></script>
    <script src="app/operations/upstream/OpsUpstreamController.js"></script>
    <script src="app/operations/maintenance/OpsMaintenanceController.js"></script>
    <script src="app/operations/maintenance/MainteinanceAddServerModalController.js"></script>
    <script src="app/operations/deployments/OpsDeploymentsController.js"></script>
    <script src="app/operations/deployments/DeploymentDetailsModalController.js"></script>
    <script src="app/configuration/configuration.module.js"></script>
    <script src="app/configuration/services/permissionsValidationService.js"></script>
    <script src="app/configuration/services/lbBulkOperationService.js"></script>
    <script src="app/configuration/services/deploymentMapConverter.js"></script>
    <script src="app/configuration/services/configValidationService.js"></script>
    <script src="app/configuration/services/arrayItemHashDetectorService.js"></script>
    <script src="app/operations/amis/OpsAMIsController.js"></script>
    <script src="app/configuration/pick-ami/PickAmiController.js"></script>
    <script src="app/configuration/permissions/PermissionsController.js"></script>
    <script src="app/configuration/permissions/PermissionController.js"></script>
    <script src="app/configuration/load-balancers/LBUpstreamsController.js"></script>
    <script src="app/configuration/load-balancers/LBUpstreamController.js"></script>
    <script src="app/configuration/load-balancers/LBsController.js"></script>
    <script src="app/configuration/load-balancers/LBController.js"></script>
    <script src="app/configuration/load-balancers/LBCloneController.js"></script>
    <script src="app/configuration/import/ImportController.js"></script>
    <script src="app/configuration/export/ExportController.js"></script>
    <script src="app/configuration/environment-types/EnvironmentTypesController.js"></script>
    <script src="app/configuration/environment-types/EnvironmentTypeController.js"></script>
    <script src="app/configuration/em-services/ServicesController.js"></script>
    <script src="app/configuration/em-services/ServiceController.js"></script>
    <script src="app/configuration/deployment-maps/DeploymentMapTargetController.js"></script>
    <script src="app/configuration/deployment-maps/DeploymentMapsController.js"></script>
    <script src="app/configuration/deployment-maps/DeploymentMapCreateController.js"></script>
    <script src="app/configuration/deployment-maps/DeploymentMapController.js"></script>
    <script src="app/configuration/deployment-maps/copyServerRole.js"></script>
    <script src="app/configuration/clusters/ClustersController.js"></script>
    <script src="app/configuration/clusters/ClusterController.js"></script>
    <script src="app/configuration/audit/AuditController.js"></script>
    <script src="app/configuration/audit/AuditCompareModalController.js"></script>
    <script src="app/compare/compare.module.js"></script>
    <script src="app/compare/services/serviceComparison.js"></script>
    <script src="app/compare/services/ResourceComparison.js"></script>
    <script src="app/compare/services/comparableResources.js"></script>
    <script src="app/configuration/accounts/AccountsController.js"></script>
    <script src="app/configuration/accounts/AccountController.js"></script>
    <script src="app/compare/directives/serviceCell.js"></script>
    <script src="app/compare/diff-viewer/DiffViewerController.js"></script>
    <script src="app/common/common.module.js"></script>
    <script src="app/common/utils/QuerySync.js"></script>
    <script src="app/common/models/Image.js"></script>
    <script src="app/common/models/Deployment.js"></script>
    <script src="app/common/models/AutoScalingGroup.js"></script>
    <script src="app/common/services/targetStateService.js"></script>
    <script src="app/common/services/serviceDiscovery.js"></script>
    <script src="app/common/services/serversService.js"></script>
    <script src="app/common/services/schemaValidatorService.js"></script>
    <script src="app/common/services/rolesService.js"></script>
    <script src="app/common/services/resourcesService.js"></script>
    <script src="app/common/services/remoteResourceFactoryService.js"></script>
    <script src="app/common/services/nginxResourceFactoryService.js"></script>
    <script src="app/common/services/modalService.js"></script>
    <script src="app/common/services/localResourceFactoryService.js"></script>
    <script src="app/common/services/linkHeaderService.js"></script>
    <script src="app/common/services/instancesService.js"></script>
    <script src="app/common/services/environmentsService.js"></script>
    <script src="app/common/services/enumsService.js"></script>
    <script src="app/common/services/cronService.js"></script>
    <script src="app/common/services/comparisons.js"></script>
    <script src="app/common/services/cachedResourcesService.js"></script>
    <script src="app/common/services/awsService.js"></script>
    <script src="app/common/services/autoScalingGroupResourceFactory.js"></script>
    <script src="app/common/services/accountMappingService.js"></script>
    <script src="app/common/directives/validJsonDirective.js"></script>
    <script src="app/common/directives/uniqueAmongDirective.js"></script>
    <script src="app/common/directives/spinner.js"></script>
    <script src="app/common/directives/scheduleViewer.js"></script>
    <script src="app/common/directives/scheduleEditor.js"></script>
    <script src="app/common/directives/scalingScheduleEditor.js"></script>
    <script src="app/common/directives/scalingCronEditor.js"></script>
    <script src="app/common/directives/jsonDiffPatchDirective.js"></script>
    <script src="app/common/directives/healthStatus.js"></script>
    <script src="app/common/directives/defaultIfEmptyDirective.js"></script>
    <script src="app/common/directives/cronEditor.js"></script>
    <script src="app/common/common-modal/CommonModalController.js"></script>
    <script src="app/operations/ToggleServiceModalController.js"></script>
    <script src="app/compare/CompareController.js"></script>
    <script src="app/common/utilities.js"></script>
    <script src="app/common/MainController.js"></script>
    <script src="app/app.module.js"></script>
    <!-- endinject -->
    <!-- endbuild -->


</head>
<body ng-controller="MainController">
    <header>
        <a href="#/"><img id="logo" src="assets/images/logo.jpg" height="30"/></a>
        <h1 title="Environment Manager {{appVersion}}"><a href="#/">Environment Manager</a></h1>
        <nav>
            <ul>
                <li><a href="#/environments" ng-class="{active: GetSection()=='environments'}">Environments</a></li>
                <li><a href="#/operations/deployments" ng-class="{active: GetSection()=='operations'}">Operations</a></li>
                <li><a href="#/compare" ng-class="{active: GetSection()=='compare'}">Compare</a></li>
                <li><a href="#/config/services" ng-class="{active: GetSection()=='config'}">Configuration</a></li>
            </ul>
        </nav>
        <div id="userinfo">
            <span><span class="glyphicon glyphicon-user"></span> <strong>{{LoggedInUser}}</strong></span>
            <span id="logout"><a href="/logout">Logout</a></span>
        </div>
    </header>

    <div>
        <div id="sidebar" ng-if="GetSection()=='config'">
            <h3>Configuration:</h3>
            <nav>
                <ul>
                    <li><a href="#/config/services" ng-class="{active: $route.current.menusection == 'Services'}">Services</a></li>
                    <li><a href="#/config/deploymentmaps" ng-class="{active: $route.current.menusection == 'DeploymentMaps'}">Deployment Maps</a></li>
                    <li><a href="#/config/loadbalancers" ng-class="{active: $route.current.menusection == 'LBs'}">Load Balancer</a></li>
                    <li><a href="#/config/upstreams" ng-class="{active: $route.current.menusection == 'LBUpstream'}">Upstreams</a></li>
                    <li><a href="#/config/clusters" ng-class="{active: $route.current.menusection == 'Clusters'}">Clusters</a></li>
                    <li><a href="#/config/environmenttypes" ng-class="{active: $route.current.menusection == 'EnvironmentTypes'}">Environment Types</a></li>
                    <li><a href="#/config/accounts" ng-class="{active: $route.current.menusection == 'Accounts'}">Accounts</a></li>
                </ul>
                <hr/>
                <ul>
                    <li ng-if="canUser('edit')"><a href="#/config/import" ng-class="{active: $route.current.menusection == 'Import'}">Import Config</a></li>
                    <li><a href="#/config/export" ng-class="{active: $route.current.menusection == 'Export'}">Export Config</a></li>
                </ul>
                <hr />
                <ul>
                    <li><a href="#/config/audit" ng-class="{active: $route.current.menusection == 'Audit'}">Audit History</a></li>
                </ul>
                <hr />
                <ul>
                    <li><a href="#/config/permissions" ng-class="{active: $route.current.menusection == 'Permission'}">Users / Groups</a></li>
                </ul>
            </nav>
        </div>
        <div id="sidebar" ng-if="GetSection()=='operations'">
            <h3>Operations:</h3>
            <nav>
                <ul>
                    <li><a href="#/operations/deployments" ng-class="{active: $route.current.menusection == 'Deployments'}">Deployments</a></li>
                    <li><a href="#/operations/upstreams" ng-class="{active: $route.current.menusection == 'Upstreams'}">Upstream Status</a></li>
                    <li><a href="#/operations/amis" ng-class="{active: $route.current.menusection == 'AMIs'}">AMI Versions</a></li>
                    <li><a href="#/operations/maintenance" ng-class="{active: $route.current.menusection == 'Maintenance'}">Server Maintenance</a></li>
                </ul>
            </nav>
        </div>
        <div id="sidebar" ng-if="GetSection()=='environments' && $route.current.menusection != ''">
            <h3>Environment</h3>
            <form name="form">
                <select id="SelectEnvironment" class="form-control" ng-model="WorkingEnvironment.EnvironmentName" ng-change="ChangeEnvironment()">
                    <option ng-repeat="env in $parent.ParentEnvironmentsList" ng-selected="{{env == WorkingEnvironment.EnvironmentName}}" value="{{env}}">{{env}}</option>
                </select>
            </form>
            <nav>
                <ul>
                    <li><a href="#/environment/servers?environment={{WorkingEnvironment.EnvironmentName}}" ng-class="{active: $route.current.menusection == 'EnvServers'}">Servers</a></li>
                    <li><a href="#/environment/schedule?environment={{WorkingEnvironment.EnvironmentName}}" ng-class="{active: $route.current.menusection == 'EnvSchedule'}">Schedule</a></li>
                    <li><a href="#/environment/settings?environment={{WorkingEnvironment.EnvironmentName}}" ng-class="{active: $route.current.menusection == 'EnvSettings'}">Settings</a></li>
                    <!--<li><a href="#/environment/infrastructure?environment={{WorkingEnvironment.EnvironmentName}}" ng-class="{active: $route.current.menusection == 'EnvInfrastructure'}">Infrastructure</a></li>-->
                </ul>
            </nav>
        </div>
        <div id="content" ng-class="{sidebar: $route.current.menusection != ''}" ng-view></div>
    </div>

    <footer></footer>

</body>
</html>
