<div class="modal-header">
    <h2 class="text-{{vm.severity}}">{{vm.title}}</h2>
</div>

<div class="modal-body">
    <p ng-bind-html="vm.message"></p>
    <small ng-if="!vm.infoMode" ng-repeat="detail in vm.details" ng-bind-html="detail"></small>
    <ul ng-if="vm.infoMode">
        <li ng-repeat="detail in vm.details" ng-bind-html="detail"></li>
    </ul>
    <div ng-if="vm.acknowledge">
      <label>
        <input type="checkbox" ng-model="vm.isAcknowledged" />
        {{vm.acknowledge}}
      </label>
    </div>
</div>

<div class="modal-footer" ng-if="!vm.notificationMode">
    <button ng-if="!vm.infoMode" class="btn btn-default" type="button" ng-click="vm.cancel()">{{vm.cancelLabel}}</button>
    <button ng-disabled="!vm.isAcknowledged" class="btn btn-{{vm.severity}}" type="button" ng-click="vm.ok()">{{vm.action}}</button>
</div>
