<div class="row">
  <div class="col-md-12">
    <h2>Server Maintenance</h2>
  </div>
  <div id="RefreshData">
    <span class="glyphicon glyphicon-refresh" ng-click="vm.refresh()" title="Refresh data"></span>
  </div>
  <div class="col-md-12">
    <p>Use this page to temporarily take servers out of service during maintenance operations. Out of service means the selected server(s) will not recieve traffic from NGINX and will be temporarily taken out of of their ASG.</p>
    <p>Notes:</p>
    <ul>
      <li>This facility should be used for <b>short term tasks</b> only i.e. lasting a few hours or less, and should be cleaned up regularly</li>
      <li>Only HTTP services that are load balanced by NGINX can be put into maintenance. Queue workers or other background services will not be affected</li>
      <li>Taking servers out of their ASG will allow for safe reboots where required</li>
      <li>It may take up to 5 minutes for servers to be brought in or out of service due to DNS propagation</li>
    </ul>
  </div>
</div>

<form class="form-horizontal" style="margin-top: 10px">
  <div class="form-group">
    <label class="col-md-1 control-label text-left">AWS Account:</label>
    <div class="col-md-2">
      <select class="form-control" ng-model="vm.selectedAccount" ng-change="vm.refresh()">
        <option ng-repeat="account in vm.accountsList" ng-selected="{{account == vm.selectedAccount}}" value="{{account}}">{{account}}</option>
      </select>
    </div>
    <div>
      <button type="button" class="btn btn-default" ng-disabled="!canUser('edit')" ng-click="vm.add()">Take Server out of Service...</button>
    </div>
  </div>
</form>

<spinner ng-show="vm.dataLoading"></spinner>

<div class="row" ng-show="!vm.dataLoading">
  <div class="col-md-10" ng-show="vm.data.length == 0">
    <p>No servers currently marked as out of service for maintenance.</p>
  </div>
  <div class="col-md-10" ng-show="vm.data.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th ng-if="canUser('edit')" class=""></th>
          <th ng-if="vm.selectedAccount == 'All'">Account</th>
          <th class="text-nowrap">Environment</th>
          <th class="text-nowrap">Name</th>
          <th class="text-nowrap">InstanceId</th>
          <th class="text-nowrap">IP Address</th>
          <th class="text-nowrap">Owning Cluster</th>
          <th class="text-nowrap">Role</th>
          <th class="text-nowrap">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="server in vm.data | orderBy : ['server.AccountName', 'server.Name']">
          <td ng-if="canUser('edit')"><input type="checkbox" ng-model="server.Selected" /></td>
          <td ng-if="vm.selectedAccount == 'All'">{{server.AccountName}}</td>
          <td>{{server.Environment}} <small ng-if="server.EnvironmentType">({{server.EnvironmentType}})</small></td>
          <td>{{server.Name}}</td>
          <td>{{server.InstanceId}}</td>
          <td>{{server.Ip}}</td>
          <td>{{server.OwningCluster}}</td>
          <td>{{server.Role}}</td>
          <td>{{server.Status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group" ng-show="vm.data.length > 0">
    <div class="col-md-4">
      <button type="button" ng-disabled="vm.numberOfItemsSelected() == 0" class="btn btn-default" ng-if="canUser('edit')" ng-click="vm.remove()">Put Selected Servers Back in Service</button>
    </div>
  </div>
</div>

<div class="row" ng-if="vm.IPsNotFound.length > 0" style="margin-top: 25px">
  <div class="col-md-12">
    <h3>Out of Date Records</h3>
  </div>
  <div class="col-md-10">
    <p>The following IPs are marked as out of service but no longer relate to an AWS Instance.</p>
  </div>
  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th ng-if="canUser('edit')" class=""></th>
          <th ng-if="vm.selectedAccount == 'All'">Account</th>
          <th class="text-nowrap">IP Address</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ip in IPsNotFound | orderBy : ['ip.AccountName', 'ip.Ip']">
          <td ng-if="canUser('edit')"><input type="checkbox" ng-model="ip.Selected" /></td>
          <td ng-if="vm.selectedAccount == 'All'">{{ip.AccountName}}</td>
          <td>{{ip.Ip}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      <button type="button" ng-disabled="vm.numberOfNotFoundItemsSelected() == 0" class="btn btn-default" ng-if="canUser('edit')" ng-click="vm.removeNotFound()">Remove Selected Records</button>
    </div>
  </div>
</div>
<p>&nbsp;</p>
