<div class="schedule-editor">
  <div ng-show="vm.showDefault || vm.showOn || vm.showOff">
    <label ng-show="vm.showDefault" class="control-label text-left inline-radio nonbold">
      <input type="radio" ng-model="vm.schedule" value="" /> Environment Default
    </label>
    <label ng-show="vm.showOn" class="control-label text-left inline-radio nonbold">
      <input type="radio" ng-model="vm.schedule" value="ON"> Always On
    </label>
    <label class="control-label text-left inline-radio nonbold">
      <input type="radio" ng-model="vm.schedule" value="OFF"> Off
    </label>
  </div>
  <div ng-show="vm.showSpecific">
    <label class="control-label text-left nonbold">
      <input type="radio" ng-click="vm.useSpecificClicked()" ng-checked="vm.schedule.indexOf(':') >= 0"> Use specific times...
    </label><br /><br />
  </div>
  <div ng-show="vm.schedule.indexOf(':') >= 0 || !vm.showSpecific" class="schedule-timezone form-inline">
    <label class="control-label text-left nonbold">Time Zone: </label>
    <select class="form-control" ng-model="vm.timezone" ng-change="vm.updateTimeZone()">
      <option ng-repeat="timezone in vm.timezones" value="{{timezone}}">{{timezone}}</option>
	  </select>
  </div>
  <div ng-show="vm.schedule" class="schedule-line" ng-repeat="cron in vm.crons">
    <cron-editor cron="cron"></cron-editor>
    <button class="btn btn-danger" ng-click="vm.remove(cron)">X</button>
  </div>
  
  <button ng-show="vm.schedule.indexOf(':') >= 0 || !vm.showSpecific" class="btn btn-default" ng-click="vm.add()">Add time</button>

  <div ng-show="vm.chartConfig && vm.chartConfig.series[0].data.length">
    <br /><br /><highchart id="scheduleChart" config="vm.chartConfig"></highchart>
  </div>
</div>