<div class="schedule-editor">
  <div ng-show="vm.showDefault">
    <label class="control-label text-left nonbold">
      <input type="radio" ng-model="vm.schedule" value="" /> Environment Default
    </label><br />
  </div>
  <div ng-show="vm.showOn">
    <label class="control-label text-left nonbold">
      <input type="radio" ng-model="vm.schedule" value="247"> Always On
    </label><br />
  </div>
  <div ng-show="vm.showOff">
    <label class="control-label text-left nonbold">
      <input type="radio" ng-model="schedule" value="OFF"> Off
    </label><br />
  </div>
  <div ng-show="vm.showSpecific">
    <label class="control-label text-left nonbold">
      <input type="radio" ng-click="vm.useSpecificClicked()" ng-checked="vm.schedule.indexOf(':') >= 0"> Use specific times
    </label><br />
  </div>
  <div ng-show="vm.schedule" class="schedule-line" ng-repeat="cron in vm.crons">
    <cron-editor cron="cron"></cron-editor>
    <button class="btn btn-danger" ng-click="vm.remove(cron)">X</button>
  </div>
  
  <button ng-show="vm.schedule.indexOf(':') >= 0 || !vm.showSpecific" class="btn btn-default" ng-click="vm.add()">Add time</button>
</div>