<div class="row">
  <div class="col-md-12"><h2>AWS Accounts</h2></div>
</div>
<form id="SearchFilter" class="form-inline" ng-if="canUser('post')">
  <div class="form-group">
    <a type="button" class="btn btn-default" ng-href="#/config/accounts/add" ng-if="canUser('post')">Add New...</a>
  </div>
</form>
<div class="row">
  <div class="col-md-12" ng-if="dataLoading">
    <spinner></spinner>
  </div>
  <div class="col-md-12" ng-show="!dataLoading && Data.length == 0">
    <p>No Accounts types found.</p>
  </div>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th class="text-nowrap">Account Name</th>
          <th class="text-nowrap">Account Number</th>
          <th class="text-nowrap">Master</th>
          <th class="text-nowrap">Use AMIs</th>
          <th ng-if="accounts.canDelete" class="text-nowrap command-header">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="account in accounts.data">
          <td>
            <a ng-if="account.IsEditable" ng-href="/#/config/accounts/{{::account.AccountName}}">{{::account.AccountName}}</a>
            <span ng-if="!account.IsEditable">{{::account.AccountName}}</span>
          </td>
          <td>{{::account.AccountNumber}}</td>
          <td>{{::account.IsMaster}}</td>
          <td>{{::account.IncludeAMIs}}</td>
          <td ng-if="accounts.canDelete" class="command command-delete">
            <span class="glyphicon glyphicon-remove" ng-if="!account.IsMaster" ng-click="accounts.attemptRemove(account)" title="Delete"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>