<div class="row">
    <div class="col-md-12" data-ng-if="!account.isBeingEdited"><h2>Add an AWS Account</h2></div>
    <div class="col-md-12" data-ng-if="account.isBeingEdited"><h2>Edit AWS Account</h2></div>
</div>
<hr />

<div data-ng-show="account.loadFailed">
    Could not find AWS account: <strong>{{::account.awsAccountName}}</strong>
    <div>
        <br />
        <a href="/#/config/accounts">&lt; Back to Accounts</a>
    </div>
</div>

<form data-ng-hide="account.loadFailed" name="form" class="form-horizontal aws-account-form">
    <div class="form-group" data-ng-class="{'has-error': form.awsAccountName.$invalid && form.awsAccountName.$dirty}">
        <label for="aws-account-name" class="col-md-1 control-label">Account Name:</label>
        <div class="col-md-2">
            <input id="aws-account-name"
                   name="awsAccountName"
                   type="text"
                   class="form-control"
                   required
                   data-ng-model="account.awsAccountName" />
        </div>
        <span class="help-block"
              data-ng-if="form.awsAccountName.$dirty && form.awsAccountName.$error.required">
            AWS Account Name is required
        </span>
    </div>
    <div class="form-group" data-ng-class="{'has-error': form.awsAccountNumber.$invalid && form.awsAccountNumber.$dirty}">
        <label for="aws-account-number" class="col-md-1 control-label text-left">Account #:</label>
        <div class="col-md-2">
            <input id="aws-account-number"
                   name="awsAccountNumber"
                   type="text"
                   class="form-control"
                   required
                   minlength="12"
                   maxlength="12"
                   pattern="[0-9]*"
                   data-ng-disabled="account.isBeingEdited"
                   data-ng-model="account.awsAccountNumber" />
        </div>
        <span class="help-block"
              data-ng-if="form.awsAccountNumber.$dirty && form.awsAccountNumber.$error.pattern">
            AWS Account Number must contain only numeric characters
        </span>
        <span class="help-block"
              data-ng-if="form.awsAccountNumber.$dirty && !form.awsAccountNumber.$error.pattern && form.awsAccountNumber.$error.minlength">
            AWS Account Number must be 12 characters
        </span>
        <span class="help-block"
              data-ng-if="form.awsAccountNumber.$dirty && !form.awsAccountNumber.$error.pattern && !form.awsAccountNumber.$error.minlength && form.awsAccountNumber.$error.required">
            AWS Account Number is required
        </span>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-2">
            <div>
                <label style="font-weight: normal">
                    <input type="checkbox" data-ng-model="account.includeAMIs">
                    Include AMIs from this account
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-2">
            <div class="radio">
                <label>
                    <input type="radio" data-ng-model="account.isMaster" data-ng-value="true" checked>
                    Master Account
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" data-ng-model="account.isMaster" data-ng-value="false">
                    Child Account
                </label>
            </div>
        </div>
    </div>

    <div class="form-group" data-ng-hide="account.isMaster">
        <label for="aws-account-name" class="col-md-1 control-label">Role ARN:</label>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon" id="arn-prefix">
                    <small><em>arn:aws:iam::{{::account.awsAccountNumber}}:role/</em></small>
                </span>
                <input type="text"
                       class="form-control"
                       placeholder="Role Name"
                       aria-describedby="arn-prefix"
                       data-ng-model="account.roleName">
            </div>
        </div>
    </div>

    <div class="form-group" style="margin-top: 30px">
        <div class="col-md-offset-1 col-md-2">
            <button type="button" class="btn btn-default" data-ng-click="account.save(form)">Save</button>
            <button type="button" class="btn btn-default" data-ng-click="account.cancel()">Cancel</button>
        </div>
    </div>
</form>
