<div class="row">
  <div class="col-md-12"><h2>AMI Versions and Uptime</h2></div>
  <div id="RefreshData">
    <span class="glyphicon glyphicon-refresh" ng-click="vm.refresh()" title="Refresh data"></span>
  </div>
</div>
<form id="SearchFilter" class="form-inline">
  <div class="form-group">
    <label class="control-label text-left">Environment:</label>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="vm.selectedEnvironment" ng-change="vm.refresh()">
      <option ng-repeat="(environmentName, environment) in vm.environmentsList"
      ng-selected="{{environmentName == vm.selectedEnvironment}}" 
      value="{{environmentName}}">{{environmentName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label text-left">Cluster:</label>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="vm.selectedOwningCluster" ng-change="vm.refresh()">
      <option ng-repeat="c in vm.owningClustersList" ng-selected="{{c == vm.selectedOwningCluster}}" value="{{c}}">{{c}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label text-left">Server Role:</label>
  </div>
  <div class="form-group">
    <input type="search" name="ServerRole" class="form-control" ng-model="vm.selectedServerRole" ng-change="vm.updateFilter()" />
  </div>
  <div class="form-group">
    <label class="control-label text-left">Current AMI:</label>
  </div>
  <div class="form-group">
    <input type="search" name="CurrentAMI" class="form-control" ng-model="vm.selectedAmi" ng-change="vm.updateFilter()" />
  </div>
  <div class="form-group">
    <label class="control-label text-left">Age:</label>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="vm.selectedAge" ng-change="vm.updateFilter()">
      <option ng-selected="{{0 == vm.selectedAge}}" value="0">Any</option>
      <option ng-repeat="c in vm.agesList" ng-selected="{{c == vm.selectedAge}}" value="{{c}}">Older than {{c}} days <span ng-if="vm.countOlderThanDays[c]">({{ vm.countOlderThanDays[c] }})</span></option>
    </select>
  </div>
</form>

<hr />

<spinner ng-show="vm.dataLoading"></spinner>

<div class="row" ng-show="!vm.dataLoading">
  <div class="col-md-12" ng-if="vm.data.length == 0">
    <p>No matching servers found</p>
  </div>
  <div class="col-md-12" ng-if="vm.data.length > 0">
    <!-- TODO: UI Grid control -->
    <div style="margin: 5px; margin-top: 0px">
      {{ vm.data.length }} servers found. 
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="text-nowrap" ng-if="vm.selectedOwningCluster == 'Any'">Owning Cluster</th>
          <th class="text-nowrap">Instance</th>
          <th class="text-nowrap">Role</th>
          <th class="text-nowrap">Launch Date</th>
          <th class="text-nowrap">Status</th>
          <th class="text-nowrap">Current AMI</th>
          <th class="text-nowrap">Latest Stable AMI</th>
          <th class="text-nowrap">Age</th>
          <th class="command-header"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="server in vm.data | orderBy : ['DaysOutOfDate', 'Role', 'Status']">
          <td ng-if="vm.selectedOwningCluster == 'Any'">{{server.OwningCluster || '-'}}</td>
          <td>
            {{server.Name || '-'}}<br/>
            {{server.InstanceId || '-'}}<br/>
            {{server.InstanceType}}
          </td>
          <td>{{server.Role}}</td>
          <td><span am-time-ago="server.LaunchTime"></span><br />{{server.LaunchTime | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}</td>
          <td>{{server.Status}}</td>
          <td>
            <span ng-if="server.Ami.Name">
              {{server.Ami.AmiType}} {{server.Ami.AmiVersion}}<br />
              {{server.Ami.CreationDate | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}<br />
              ({{server.ImageId}})
            </span>
            <span ng-if="!server.Ami.Name">{{server.ImageId}}</span>
          </td>
          <td>
            <span ng-if="server.LatestAmi">
              {{server.LatestAmi.AmiType}} {{server.LatestAmi.AmiVersion}}<br />
              {{server.LatestAmi.CreationDate | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}<br />
              ({{server.LatestAmi.ImageId}})
            </span>
            <span ng-if="!server.LatestAmi">-</span>
          </td>
          <td>
            <div ng-if="server.LatestAmi && server.UsingLatestAmi">
              <span class="glyphicon glyphicon-ok-sign ok"></span> Up to date
            </div>

            <div ng-if="server.LatestAmi && !server.UsingLatestAmi">
              <span class="glyphicon glyphicon-exclamation-sign warning"></span> {{server.DaysOutOfDate}} Days
            </div>

            <div ng-if="!server.LatestAmi">
              <span>-</span>
            </div>
          </td>
          <td class="command command-patchServer">
            <span class="glyphicon glyphicon-cog" title="View/Patch ASG" ng-click="vm.editAutoScalingGroup(server['aws:autoscaling:groupName'])"></span> 
            <a href="" ng-click="vm.editAutoScalingGroup(server['aws:autoscaling:groupName'])">Update ASG</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
