
<!-- Sidebar -->
<div id="sidebar" class="4u">
	<section>
		<header>
			<h2>{{ page.layout | capitalize }}</h2>
		</header>
		<div class="row">
			<section>
				<ul>
				{% assign sorted_pages = site.pages | sort:"weight" %}
				{% for post in sorted_pages %}
				{% if post.dir == page.dir %}
					<li>
						<p>
							<a href="/environment-manager{{ post.url }}">{{ post.title }}</a><br />
						</p>
					</li>
				{% endif %}
				{% endfor %}
				</ul>
			</section>
		</div>
	</section>
</div>

