<div class="row">
  <div class="col-md-12"><h2>Deployment Maps</h2></div>
  <div id="RefreshData">
  <span class="glyphicon glyphicon-refresh" ng-click="vm.refresh()" title="Refresh data"></span>
  </div>
</div>

<form id="SearchFilter" class="form-inline" ng-if="vm.canUser('post')">
  <div class="form-group">
    <button type="button" class="btn btn-default" ng-click="vm.newItem()" ng-if="vm.canUser('post')">Create New...</button>
  </div>
</form>
<div class="row">
  <div class="col-md-12" ng-if="vm.dataLoading">
    <spinner></spinner>
  </div>
  <div class="col-md-12" ng-show="!vm.dataLoading && vm.data.length == 0">
    <p>No deployment maps found.</p>
  </div>
  <div class="col-md-8" ng-show="!vm.dataLoading && vm.data.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-nowrap">Deployment Map Name</th>
          <th class="text-nowrap">Number of Targets</th>
          <th class="text-nowrap">Number of Services</th>
          <th class="text-nowrap">Used By</th>
          <!-- TODO: <th class="text-nowrap command-header">Compare</th> -->
          <th class="text-nowrap command-header">View History</th>
          <th ng-if="vm.canUser('delete')" class="text-nowrap command-header">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="map in vm.data | orderBy : 'DeploymentMapName' ">
          <td><a href="#/config/deploymentmaps/{{map.DeploymentMapName}}">{{map.DeploymentMapName}}</a></td>
          <td>{{map.Value.DeploymentTarget.length}}</td>
          <td>{{vm.countServices(map)}}</td>
          <td>{{vm.usedBy(map)}}</td>
          <!-- TODO <td class="command command-compare"><span class="glyphicon glyphicon-th-list" ng-click="Compare(map)" title="Compare"></span></td> -->
          <td class="command command-viewHistory"><span class="glyphicon glyphicon-time" ng-click="vm.viewHistory(map)" title="View History"></span></td>
          <td ng-if="vm.canUser('delete')" class="command command-delete"><span class="glyphicon glyphicon-remove" ng-click="vm.delete(map)" title="Delete"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
