<div class="modal-header">
  <h2>Create New Deployment Map</h2>
</div>

<div class="modal-body">

  <form name="form" class="form-horizontal">
    <div class="form-group" ng-class="{'has-error': form.DeploymentMapName.$dirty && form.DeploymentMapName.$invalid}">
      <label class="col-md-2 control-label text-left">Name: <span class="glyphicon glyphicon-asterisk mandatory"></span></label>
      <div class="col-md-4">
        <input type="text"
        name="DeploymentMapName"
        class="form-control"
        required=""
        autofocus
        maxlength="30"
        ng-model="vm.deploymentMap.DeploymentMapName"
        unique-among="vm.deploymentMapNames"
        ng-pattern="'[0-9a-zA-Z-]+'" />
      </div>
      <span class="help-block" ng-if="form.DeploymentMapName.$dirty && form.DeploymentMapName.$error.required">Deployment Map name is mandatory.</span>
      <span class="help-block" ng-if="form.DeploymentMapName.$dirty && form.DeploymentMapName.$error.duplicated">A Deployment Map already exists with this name.</span>
      <span class="help-block" ng-if="form.DeploymentMapName.$dirty && form.DeploymentMapName.$error.pattern">Deployment Map name must contain only alphanumeric characters and dashes.</span>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label text-left">Base on:</label>
      <div class="col-md-5">
        <label class="control-label text-left">
          <input type="radio" ng-model="vm.cloneExisting" ng-value="false"> Blank Template
        </label><br/>
        <label class="control-label text-left">
          <input type="radio" ng-model="vm.cloneExisting" ng-value="true"> Existing Deployment Map
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-4" ng-show="vm.cloneExisting==true">
        <select class="form-control" ng-model="vm.deploymentMapNameToClone" required>
          <option ng-repeat="mapName in vm.deploymentMapNames" value="{{mapName}}">{{mapName}}</option>
        </select>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
  <button class="btn btn-default" type="button" ng-click="vm.ok" ng-if="canUser('edit')" ng-disabled="form.DeploymentMapName.$pristine || form.DeploymentMapName.$invalid">Create</button>
</div>
