<div ng-if="vm.asgState.Instances.length == 0">
  <p>No matching servers found.</p>
</div>

<div ng-if="vm.asgState.Instances.length > 0">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th class="text-nowrap">Instance</th>
          <th class="text-nowrap">IP</th>
          <th class="text-nowrap">AZ</th>
          <th class="text-nowrap">Instance Type</th>
          <th class="text-nowrap">Status</th>
          <th class="text-nowrap">Services</th>
          <th class="text-nowrap">AMI</th>
          <th class="text-nowrap">Out of Date</th>
          <th class="text-nowrap">Connect</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="instance in vm.asgState.Instances | orderBy : ['Name', 'LifecycleState', 'Status', 'Ip']">
          <td>
            <health-status status='instance.OverallHealth'></health-status>
            Name: {{ instance.Name || '-'}}
            <br />&nbsp; &nbsp; &nbsp;ID: {{ instance.InstanceId || '-'}}
          </td>
          <td>{{ instance.PrivateIpAddress }}</td>
          <td>{{ instance.AvailabilityZone }}</td>
          <td>{{ instance.InstanceType }}</td>
          <td>{{ instance.LifecycleState }}
            <br />{{ instance.State }}
          </td>
          <td>
            <div ng-if="instance.RunningServicesCount > 0">
              <a ng-click="vm.showAsgSingleInstance(instance)">{{ instance.RunningServicesCount }} services </a>
            </div>
            <div ng-if="instance.RunningServicesCount < 1">
              <span>{{ instance.RunningServicesCount }} services </span>
            </div>
            <span ng-if="instance.MissingOrUnexpectedServices" class="glyphicon glyphicon-exclamation-sign warning" title="Missing or unexpected services present"></span>
          </td>
          <td>
            <span ng-if="instance.Ami.Name">
                {{ instance.Ami.AmiType }} {{ instance.Ami.AmiVersion }}<br />
                {{ instance.Ami.CreationDate | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}<br />
                ({{ instance.ImageId }})
            </span>
            <span ng-if="!instance.Ami.Name">{{ instance.ImageId }}</span>
          </td>
          <td>
            <span ng-if="instance.LatestAmi">
              <span ng-if="instance.UsingLatestAmi"><span class="glyphicon glyphicon-ok-sign ok"></span> Up to
            date</span>
            <span ng-if="!instance.UsingLatestAmi"><span class="glyphicon glyphicon-exclamation-sign warning"></span> {{
            instance.DaysBehindLatest }} Days</span>
            </span>
            <span ng-if="!instance.LatestAmi">-</span>
          </td>
          <td ng-if="vm.asg.Ami.Platform === 'Windows'">
            <a href="/api/v1/instances/{{instance.InstanceId}}/connect">Remote Desktop</a>
          </td>
          <td style="width: 16em" ng-if="vm.asg.Ami.Platform === 'Linux'">
            <div class="input-group">
              <input type="text" class="form-control" id="sshlink-{{instance.InstanceId}}" readonly style="background-color:white;" value="ssh {{ instance.PrivateIpAddress }}">
              <span class="input-group-btn">
                <button class="btn btn-default" ngclipboard data-clipboard-target="#sshlink-{{instance.InstanceId}}">
                  <img src="/assets/images/clippy.svg" alt="Copy to clipboard" width="13"></img>
                </button>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>