<div class="modal-content">
  <div class="modal-body" style="padding: 5px 15px">
    <div>
      <h3>Service: {{ vm.service.Name }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th class="text-nowrap">Instance</th>
            <th class="text-nowrap">Health Checks</th>
            <!-- <th class="text-nowrap">Deploy Reason</th> -->
            <th class="text-nowrap">Deploy Log</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="instance in vm.instances">
            <td><health-status status='instance.OverallHealth.Status'></health-status> {{ instance.InstanceId }} ({{ instance.PrivateIpAddress }})</td>
            <td><health-checks list="instance.serviceObject.HealthChecks"></health-checks></td>
            <!-- <td>{{ instance.serviceObject.DeploymentCause }}</td> -->
            <td><a ng-href="{{ instance.serviceObject.LogLink }}" target="_blank">View Log</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.close()">Close</button>
  </div>
</div>
