<div ng-if="vm.servicesList === undefined || vm.servicesList.length == 0">
  <p>No matching services found.</p>
</div>

<div ng-if="vm.servicesList.length > 0">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th class="text-nowrap">Service</th>
          <th class="text-nowrap">Version</th>
          <th class="text-nowrap">Slice</th>
          <th class="text-nowrap">Installed</th>
          <th class="text-nowrap">Health Checks</th>
          <th class="text-nowrap">Instances</th>
          <th class="text-nowrap">Deployment Log</th>
          <th class="text-nowrap" ng-if="vm.allowServiceDisabling">Installation
            <span data-uib-popover
                  data-popover-trigger="'mouseenter'"
                  uib-popover-template="'app/environments/dialogs/asg/popovers/help-disable-service.html'"
                  data-popover-placement="top"
                  class="glyphicon glyphicon-question-sign help-icon"
                  aria-hidden="true">
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="service in vm.servicesList | orderBy : ['Name', 'Version']" class="vertical-center">
          <td><health-status status='service.OverallHealth'></health-status> {{ service.Name }}
          </td>
          <td>{{ service.Version }}</td>
          <td><span class="slice-symbol" ng-class="service.Slice"></span>{{ service.Slice }}</td>
          <td>
            <service-diff-with-target-state state="service.DiffWithTargetState"></service-diff-with-target-state>
          </td>
          <td><health-checks list="service.HealthChecks"></health-checks></td>
          <td><a ng-click="vm.showAsgSingleService(service)">{{ service.InstancesCount.Present }} {{ service.InstancesCount.Present === 1 ? 'instance' : 'instances' }}</a> <span ng-if="service.MissingOrUnexpectedInstances" class="glyphicon glyphicon-exclamation-sign warning" title="Missing or unexpected services present"></span></td>
          <td><a ng-if="service.DeploymentId" ng-click="vm.showDeploymentLog(service)">Show Deployment</a></td>
          <td ng-if="vm.allowServiceDisabling">
            <div class="onoffswitch enabled-toggle">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="toggle-{{::$index}}" ng-change="vm.setDeploymentStatus(service)" ng-model="service.installationEnabled">
              <label class="onoffswitch-label" for="toggle-{{::$index}}">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
