<div class="modal-content">
  <div class="modal-body" style="padding: 5px 15px">
    <div>
      <h3>Instance: {{ vm.instance.Name }} <span>({{ vm.instance.PrivateIpAddress }})</span></h3>
      <table class="table">
        <thead>
          <tr>
            <th class="text-nowrap">Service</th>
            <th class="text-nowrap">Version</th>
            <th class="text-nowrap">Slice</th>
            <th class="text-nowrap">Installed</td>
            <th class="text-nowrap">Health Checks</th>
            <!-- <th class="text-nowrap">Deploy Reason</th> -->
            <th class="text-nowrap">Deploy Log</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="service in vm.instance.Services">
            <td><health-status status='service.OverallHealth'></health-status> {{ service.Name }}
            </td>
            <td>{{ service.Version }}</td>
            <td><span class="slice-symbol" ng-class="service.Slice"></span>{{ service.Slice }}</td>
            <td>
              <div ng-if="service.DeploymentStatus == 'In Progress'">
                  <span class="glyphicon glyphicon-refresh"></span> In Progress
              </div>
              <div ng-if="service.DeploymentStatus != 'In Progress'">
                  <service-diff-with-target-state state="service.DiffWithTargetState"></service-diff-with-target-state>
              </div>
            </td>
            <td><health-checks list="service.HealthChecks" ></health-checks></td>
            <!-- <td>{{ service.DeploymentCause }}</td> -->
            <td>
              <a ng-if="vm.showLogLink(service)" ng-href="{{ service.LogLink }}" target="_blank">View Log</a>
              <span ng-if="!vm.showLogLink(service)">
                <span class="glyphicon glyphicon-question-sign" title="An error has occurred prior to logs becoming available."></span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.close()">Close</button>
  </div>
</div>
