<div class="modal-content">
  <div class="modal-body" style="padding: 5px 15px">
    <div>
      <h3>Service: {{ vm.service.Name }}<span ng-if="vm.service.Slice !== 'none'">-{{ vm.service.Slice }}</span> {{ vm.service.Version
        }}
      </h3>
      <table class="table">
        <thead>
          <tr>
            <th class="text-nowrap">Instance</th>
            <th class="text-nowrap">Installed</th>
            <th class="text-nowrap">Health Checks</th>
            <!-- <th class="text-nowrap">Deploy Reason</th> -->
            <th class="text-nowrap">Deploy Log</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="instance in vm.instances">
            <td>
              <health-status status='instance.OverallHealth'></health-status> {{ instance.InstanceId }} ({{ instance.PrivateIpAddress }})
            </td>
            <td>
              <div ng-if="instance.serviceObject.DeploymentStatus == 'In Progress'">
                <span>class="glyphicon glyphicon-refresh"></span> In Progress
              </div>
              <div ng-if="instance.serviceObject.DeploymentStatus != 'In Progress'">
                <service-diff-with-target-state state="instance.serviceObject.DiffWithTargetState"></service-diff-with-target-state>
              </div>
            </td>
            <td>
              <health-checks list="instance.serviceObject.HealthChecks"></health-checks>
            </td>
            <!-- <td>{{ instance.serviceObject.DeploymentCause }}</td> -->
            <td><a ng-href="{{ instance.serviceObject.LogLink }}" target="_blank">View Log</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.close()">Close</button>
  </div>
</div>