<div class="modal-header">
    <h2 class="text-default">Launch Configuration Updated</h2>
</div>

<div class="modal-body launch-config-confirm-dialog">

    <p>Launch Configuration updated successfully.</p>

    <div ng-if="vm.numInstances">

      <p><b>PLEASE NOTE:</b> This change does not affect the existing instances.</p>
      
      <p>
        To roll out this change you need to scale up to <b>{{vm.requiredInstancesForScalingRefresh}} instances</b>.
        This will guarantee that when you scale back down, only updated servers will remain
        (<a href="https://github.thetrainline.com/gist/MerlinT/c5b52c69c2228b6b518a4f75ed4977ea" target="_blank">see explanation</a>).<br /><br />
      
        Once the new instances are healthy, manually scale back down to <b>{{vm.numInstances}} instances</b> again.
      </p>

      <p>
        <button class="btn btn-default" type="button" ng-click="vm.close()">Scale manually later</button>
        <button class="btn btn-default" type="button" ng-click="vm.doScalingRefresh()">Scale to {{vm.requiredInstancesForScalingRefresh}} instances now</button>
      </p>

    </div>

    <div ng-if="!vm.numInstances">
      <button class="btn btn-default" type="button" ng-click="vm.close()">Ok</button>
    </div>

</div>