<div class="form-group" ng-class="{'has-error': form.MinInstances.$invalid || form.NumberOfInstances.$invalid || form.MaxInstances.$invalid }">
    <label class="col-md-2 control-label text-left nowrap">Size:</label>
    <div class="col-md-8">
        <label class="control-label text-left nonbold inline">Min:</label>
        <input class="form-control inline"
            type="number"
            name="MinInstances"
            min="0"
            max="100"
            step="1"
            required=""
            ng-model="vm.asgUpdate.MinSize"
            ng-readonly="!canUser('edit')" />
        <label class="control-label text-left nonbold inline">Desired:</label>
        <input class="form-control inline"
            name="NumberOfInstances"
            type="number"
            min="0"
            max="100"
            step="1"
            required=""
            ng-model="vm.asgUpdate.DesiredCapacity"
            ng-readonly="!canUser('edit')" />
        <label class="control-label text-left nonbold inline">Max:</label>
        <input class="form-control inline"
            name="MaxInstances"
            type="number"
            min="0"
            max="100"
            step="1"
            required=""
            ng-model="vm.asgUpdate.MaxSize"
            ng-readonly="!canUser('edit')" />
    </div>
</div>
<div class="form-group has-error" ng-if="vm.asgUpdate.MinSize > 0">
  <div class="col-md-8 col-md-offset-2">
    <div class="help-block">
      Note: The recommended Min Size is 0.<br />
      The Scheduler will not switch off instances when an ASG reaches its minimum size.
    </div>
  </div>
</div>
<div class="form-group has-error"
     ng-if="form.MinInstances.$invalid || 
            form.NumberOfInstances.$invalid || 
            form.MaxInstances.$invalid ||
            vm.asgUpdate.DesiredCapacity < vm.asgUpdate.MinSize ||
            vm.asgUpdate.DesiredCapacity > vm.asgUpdate.MaxSize ||
            vm.greaterThanLowestDesiredSizeScheduled(vm.asgUpdate.MinSize) ||
            vm.lessThanHighestDesiredSizeScheduled(vm.asgUpdate.MaxSize)">
    <div class="col-md-offset-2 col-md-10">
        <span class="help-block" ng-if="form.MinInstances.$dirty && form.MinInstances.$error.required">Min instances is mandatory.</span>
        <span class="help-block" ng-if="form.MinInstances.$dirty && (form.MinInstances.$error.number || form.MinInstances.$error.min || form.MinInstances.$error.max)">Min must be a number between 1 and 100</span>
        <span class="help-block" ng-if="form.NumberOfInstances.$dirty && form.NumberOfInstances.$error.required">Desired instances is mandatory.</span>
        <span class="help-block" ng-if="form.NumberOfInstances.$dirty && (form.NumberOfInstances.$error.number || form.NumberOfInstances.$error.min || form.NumberOfInstances.$error.max)">Desired must be a number between 1 and 100</span>
        <span class="help-block" ng-if="form.MaxInstances.$dirty && form.MaxInstances.$error.required">Max instances is mandatory.</span>
        <span class="help-block" ng-if="form.MaxInstances.$dirty && (form.MaxInstances.$error.number || form.MaxInstances.$error.min || form.MaxInstances.$error.max)">Max must be a number between 1 and 100</span>
        <span class="help-block" ng-if="vm.asgUpdate.DesiredCapacity < vm.asgUpdate.MinSize">Desired capacity must be greater than or equal to Min instances.</span>
        <span class="help-block" ng-if="vm.asgUpdate.DesiredCapacity > vm.asgUpdate.MaxSize">Desired capacity must be less than or equal to Max instances.</span>
        <span class="help-block" ng-if="form.MinInstances.$dirty && vm.greaterThanLowestDesiredSizeScheduled(vm.asgUpdate.MinSize)">Min instances must be equal to or lower than the lowest scheduled size.</span>
        <span class="help-block" ng-if="form.MaxInstances.$dirty && vm.lessThanHighestDesiredSizeScheduled(vm.asgUpdate.MaxSize)">Max instances must be equal to or greater than the highest scheduled size.</span>
    </div>
</div>
<div class="form-group" ng-if="vm.asgUpdate.DesiredCapacity < vm.asg.DesiredCapacity && vm.canResize()">
    <div class="col-md-offset-2 col-md-8">
        <p>Note: During scale-down instances will wait in a Terminating state for 10 minutes to allow for connection draining before termination.</p>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label text-left nowrap">Availability Zone(s):</label>
    <div class="col-md-4">
        <div style="float: left; margin-right: 10px; margin-top: 6px;" ng-disabled="!vm.canUser('edit')" ng-repeat="az in vm.deploymentAzsList">
        <input
          type="checkbox"
          name="{{az}}-checkbox"
          value="{{az}}"
          ng-checked="vm.isAZChecked(az)"
          ng-click="vm.toggleAZSelection(az)"
        > {{az}}
      </div>
    </div>
</div>