<div class="form-group" ng-class="{'has-error': settingsForm.MinInstances.$invalid || settingsForm.NumberOfInstances.$invalid || settingsForm.MaxInstances.$invalid }">
  <label class="col-md-2 control-label text-left nowrap">Size:</label>
  <div class="col-md-8">
    <label class="control-label text-left nonbold inline">Min:</label>
    <input class="form-control inline" type="number" name="MinInstances" min="0" max="100" step="1" required="" ng-model="vm.asgUpdate.MinSize"
      ng-readonly="!canUser('edit')" />
    <label class="control-label text-left nonbold inline">Desired:</label>
    <input class="form-control inline" name="NumberOfInstances" type="number" min="0" max="100" step="1" required="" ng-model="vm.asgUpdate.DesiredCapacity"
      ng-readonly="!canUser('edit')" />
    <label class="control-label text-left nonbold inline">Max:</label>
    <input class="form-control inline" name="MaxInstances" type="number" min="0" max="100" step="1" required="" ng-model="vm.asgUpdate.MaxSize"
      ng-readonly="!canUser('edit')" />
  </div>
</div>
<div class="form-group has-error" ng-if="vm.asgUpdate.MinSize > 0">
  <div class="col-md-8 col-md-offset-2">
    <div class="help-block">
      Note: The recommended Min Size is 0.<br /> The Scheduler will not switch off instances when an ASG reaches its minimum
      size.
    </div>
  </div>
</div>
<div class="form-group has-error" ng-if="settingsForm.MinInstances.$invalid || 
  settingsForm.NumberOfInstances.$invalid || 
  settingsForm.MaxInstances.$invalid ||
  vm.asgUpdate.DesiredCapacity < vm.asgUpdate.MinSize ||
  vm.asgUpdate.DesiredCapacity > vm.asgUpdate.MaxSize ||
  vm.greaterThanLowestDesiredSizeScheduled(vm.asgUpdate.MinSize) ||
  vm.lessThanHighestDesiredSizeScheduled(vm.asgUpdate.MaxSize)">
  <div class="col-md-offset-2 col-md-10">
    <span class="help-block" ng-if="settingsForm.MinInstances.$dirty && settingsForm.MinInstances.$error.required">Min instances is mandatory.</span>
    <span class="help-block" ng-if="settingsForm.MinInstances.$dirty && (settingsForm.MinInstances.$error.number || settingsForm.MinInstances.$error.min || settingsForm.MinInstances.$error.max)">Min must be a number from 0 to 100 inclusive</span>
    <span class="help-block" ng-if="settingsForm.NumberOfInstances.$dirty && settingsForm.NumberOfInstances.$error.required">Desired instances is mandatory.</span>
    <span class="help-block" ng-if="settingsForm.NumberOfInstances.$dirty && (settingsForm.NumberOfInstances.$error.number || settingsForm.NumberOfInstances.$error.min || settingsForm.NumberOfInstances.$error.max)">Desired must be a number from 0 to 100 inclusive</span>
    <span class="help-block" ng-if="settingsForm.MaxInstances.$dirty && settingsForm.MaxInstances.$error.required">Max instances is mandatory.</span>
    <span class="help-block" ng-if="settingsForm.MaxInstances.$dirty && (settingsForm.MaxInstances.$error.number || settingsForm.MaxInstances.$error.min || settingsForm.MaxInstances.$error.max)">Max must be a number from 0 to 100 inclusive</span>
    <span class="help-block" ng-if="vm.asgUpdate.DesiredCapacity < vm.asgUpdate.MinSize">Desired capacity must be greater than or equal to Min instances.</span>
    <span class="help-block" ng-if="vm.asgUpdate.DesiredCapacity > vm.asgUpdate.MaxSize">Desired capacity must be less than or equal to Max instances.</span>
    <span class="help-block" ng-if="settingsForm.MinInstances.$dirty && vm.greaterThanLowestDesiredSizeScheduled(vm.asgUpdate.MinSize)">Min instances must be equal to or lower than the lowest scheduled size.</span>
    <span class="help-block" ng-if="settingsForm.MaxInstances.$dirty && vm.lessThanHighestDesiredSizeScheduled(vm.asgUpdate.MaxSize)">Max instances must be equal to or greater than the highest scheduled size.</span>
  </div>
</div>
<div class="form-group" ng-if="vm.asgUpdate.DesiredCapacity < vm.asg.DesiredCapacity && vm.canResize()">
  <div class="col-md-offset-2 col-md-8">
    <p>Note: During scale-down instances will wait in a Terminating state for 10 minutes to allow for connection draining before
      termination.</p>
  </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label text-left nowrap">Scaling Options:</label>
    <div class="col-md-8">
      <label class="control-label text-left nonbold inline">
        <input
          type="checkbox"
          name="delayedTermination"
          ng-checked="vm.asgUpdate.TerminationDelay"
          ng-click="vm.asgUpdate.TerminationDelay = vm.asgUpdate.TerminationDelay > 0 ? 0 : 3"
        > Delay instance termination (services are deregistered instantly)
      </label>
      <br />
      <label class="control-label text-left nonbold inline" ng-if="vm.asgUpdate.TerminationDelay">
        Delay for <input class="form-control inline" style="width: 60px" name="terminationDelay" type="number" min="1" ng-model="vm.asgUpdate.TerminationDelay" ng-readonly="!vm.canUser('edit')" /> minute{{vm.asgUpdate.TerminationDelay > 1 ? 's' : ''}}
      </label>
    </div>
  </div>
<div class="form-group">
  <label class="col-md-2 control-label text-left nowrap">Availability Zone(s):</label>
  <div class="col-md-6">
    <div style="margin-top: 6px;">
      <div style="float: left; margin-right: 10px;" ng-disabled="!vm.canUser('edit')" ng-repeat="az in vm.deploymentAzsList">
        <input type="checkbox" name="{{az}}-checkbox" value="{{az}}" ng-checked="vm.isAZChecked(az)" ng-click="vm.toggleAZSelection(az)">        {{az}}
      </div>
      <span class="error" ng-if="!vm.asgUpdate.AvailabilityZone.length">At least one zone must be selected.</span>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label text-left nowrap">Current Distribution:</label>
  <div class="col-md-10">
    <div class="region-visualisation">
      <div class="az" ng-repeat="az in vm.currentDistribution.azs">
        <div class="az-container" ng-class="{ active: az.active }">
          <div class="az-name">{{az.name}}</div>
          <div class="az-content">
            <div ng-if="!az.active" class="az-not-in-use">
              This AZ is not currently in use
            </div>
            <div ng-if="az.active" class="node" ng-repeat="node in az.nodes" ng-class="{ old: node.isOld, protected: node.isProtected }">
              {{ node.id }}
              <span ng-if="node.isOld" class="glyphicon glyphicon-warning-sign" title="This instance does not use the latest launch config">
              </span>
              <span ng-if="node.isProtected" class="glyphicon glyphicon-lock" title="This instance is protected from scale-in">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p style="margin-top: 15px">
      <strong>Please Note:</strong> AWS will always keep instances balanced across availability zones. <br />
    </p>
    <p>
      Make sure that the minimum number of required up-to-date instances are present in each AZ before using scale-in to remove
      out-of-date instances.
    </p>
    <p>
      Instances with <strong>Instance Protection</strong> are never terminated!
    </p>
    <aside><strong>Termination Protection</strong> within AWS console will not prevent the instance from being terminated when scaling-in.</aside>
  </div>
</div>