<div class="modal-header">
  <h2>Select AMI...</h2>
</div>
<div class="modal-body">
  <div ng-show="DataLoading">
    <p>Loading available images...</p>
  </div>
  <form name="form" class="form-horizontal" ng-show="!DataLoading">
    <div class="form-group">
      <label class="col-md-2 control-label text-left">AMI Type:</label>
      <div class="col-md-6">
        <select class="form-control" name="AmiType" required="" ng-model="SelectedImageType" ng-options="value.Name for value in ImagesByType"></select>
      </div>
    </div>
    <div class="form-group" ng-if="vm.context === 'serverRole'">
      <label class="col-md-2 control-label text-left">Version:</label>
      <div class="col-md-8">
        <label class="control-label text-left nonbold">
          <input type="radio" ng-model="Version.UseLatest" ng-value="true"> Use latest stable version available
        </label>
        <br />
        <label class="control-label text-left nonbold">
          <input type="radio" ng-model="Version.UseLatest" ng-value="false"> Pin to specific version:
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label text-left" ng-if="vm.context !== 'serverRole'">Version:</label>
      <div ng-class="{'col-md-4 col-md-offset-2': vm.context === 'serverRole', 'col-md-6': vm.context !== 'serverRole'}">
        <select class="form-control" name="AmiVersion" required="" ng-disabled="Version.UseLatest" ng-model="Version.SelectedVersion" ng-options="version.DisplayName for version in SelectedImageType.Versions"></select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <p><a ng-href="{{ vm.links.LIST_OF_IMAGES }}" target="_blank">View Windows Image Details [Wiki]</a></p>
        <p><a ng-href="{{ vm.links.LINUX_PUPPET_REPO }}" target="_blank">View Linux Image Puppet Repo [Github]</a></p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="Cancel()">Cancel</button>
  <button class="btn btn-default" type="button" ng-click="Ok()" ng-if="canUser('edit')" ng-disabled="form.$invalid">Select AMI</button>
</div>
