<div class="row">
    <div class="col-md-12"><h2>Upstream Status</h2></div>
    <div id="RefreshData">
        <span class="glyphicon glyphicon-refresh" ng-click="vm.refresh()" title="Refresh data"></span>
    </div>
</div>
<form id="SearchFilter" class="form-inline">
    <div class="form-group">
        <label class="control-label text-left">Environment:</label>
    </div>
    <div class="form-group">
        <select class="form-control" ng-model="vm.selectedEnvironment" ng-change="vm.updateFilter()">
            <option ng-repeat="env in vm.environmentsList" ng-selected="{{env == vm.selectedEnvironment}}" value="{{env}}">{{env}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label text-left">Configured State:</label>
    </div>
    <div class="form-group">
        <select class="form-control" ng-model="vm.selectedState" ng-change="vm.updateFilter()">
            <option ng-repeat="s in vm.statesList" ng-selected="{{s == vm.selectedState}}" value="{{s}}">{{s}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label text-left">Service Owner:</label>
    </div>
    <div class="form-group">
        <select class="form-control" ng-model="vm.selectedOwningCluster" ng-change="vm.updateFilter()">
            <option ng-repeat="c in vm.owningClustersList" ng-selected="{{c == vm.selectedOwningCluster}}" value="{{c}}">{{c}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label text-left">Service:</label>
    </div>
    <div class="form-group">
        <input type="search" name="ServiceName" class="form-control" ng-model="vm.selectedService" ng-change="vm.updateFilter()" />
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default right" ng-if="canUser('toggle')" ng-click="vm.toggleService()">Toggle Service...</button>
    </div>
</form>
<hr />
<spinner ng-show="vm.dataLoading"></spinner>
<div class="row" ng-if="vm.dataFound && !vm.dataLoading">
    <div class="col-md-12" ng-if="vm.data.length == 0">
        <p>No matching upstreams found for selected environment.</p>
    </div>
    <div class="col-md-12" ng-if="vm.data.length > 0">
        <table id="upstream-status" class="table">
            <thead>
                <tr>
                    <th class="text-nowrap">Service Name</th>
                    <th class="text-nowrap">Service Owner</th>
                    <th class="text-nowrap">Host DNS / IP</th>
                    <th class="text-nowrap">Slice</th>
                    <th class="text-nowrap">Port</th>
                    <th ng-show="vm.selectedState === 'All'">Configured State</th>
                    <th class="text-nowrap">Active State</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="host in vm.data | orderBy : ['Value.ServiceName', 'Value.DnsName']" class="upstream-slice">
                    <td ng-click="vm.showInstanceDetails(host)">
                        {{host.Value.ServiceName || "-"}}<br/>
                        ({{host.Value.UpstreamName}})
                    </td>
                    <td ng-click="vm.showInstanceDetails(host)">
                      {{host.Value.OwningCluster}}
                    </td>
                    <td ng-click="vm.showInstanceDetails(host)">
                      {{host.Value.DnsName}}
                    </td>
                    <td>
                      <span class="slice-symbol" ng-class="host.Value.Slice" style="display: inline-block;"></span>{{ host.Value.Slice | lowercase }}
                    </td>
                    <td ng-click="vm.showInstanceDetails(host)">
                      {{host.Value.Port}}
                    </td>
                    <td ng-show="vm.selectedState === 'All'" ng-click="vm.showInstanceDetails(host)">
                        <span ng-if="host.Value.State=='up'" class="status-up"><span class="glyphicon glyphicon-triangle-top"></span> Up</span>
                        <span ng-if="host.Value.State=='down'" class="status-down"><span class="glyphicon glyphicon-triangle-bottom"></span> Down</span>
                    </td>
                    <td ng-click="vm.showInstanceDetails(host)">
                        <lb-servers-states-cell ng-if="host.Value.LoadBalancerState.LBs.length" data="host.Value.LoadBalancerState"></lb-servers-states-cell>
                    </td>
                    <td class="command command-toggleUpstream"><span class="glyphicon glyphicon-random" title="Toggle upstream" ng-if="canUser('toggle')" ng-click="vm.toggleUpstream(host)"></span></td>
                    <td class="command command-viewDetails"><span class="glyphicon glyphicon-search" title="View instances" ng-click="vm.showInstanceDetails(host)"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
