[Unit]
Conflicts=environment-manager.service

[Service]
EnvironmentFile=/etc/environment-manager.env
WorkingDirectory=/opt/environment-manager/
ExecStart=/usr/bin/npm run start-debug

Restart=always
SyslogIdentifier=environment-manager-debug

[Install]
WantedBy=multi-user.target
