[Unit]
After=systemd-journald.socket

[Service]
EnvironmentFile=/etc/environment-manager.env
WorkingDirectory=/opt/environment-manager/
ExecStart=/opt/environment-manager/environment-manager

Restart=always
StandardOutput=null
StandardError=null
SyslogIdentifier=environment-manager

[Install]
WantedBy=multi-user.target
