[Unit]
Conflicts=environment-manager-debug.service

[Service]
EnvironmentFile=/etc/environment-manager.env
WorkingDirectory=/opt/environment-manager/
ExecStart=/opt/environment-manager/start

Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=environment-manager

[Install]
WantedBy=multi-user.target
