<span style="display: inline-block; padding-left: 25%; zoom: 120%" ng-if="vm.state === null" class="health-status glyphicon glyphicon-ok-sign healthy"></span>
<span ng-if="vm.state === 'Extra'"><strong>Unexpected</strong> 
  <span data-uib-popover
        data-popover-trigger="'mouseenter'"
        uib-popover-template="'app/environments/dialogs/asg/popovers/help-service-unexpected.html'"
        data-popover-placement="top"
        class="glyphicon glyphicon-question-sign help-icon"
        aria-hidden="true">
  </span>
</span>
<span ng-if="vm.state === 'Ignored'"><strong>Ignored</strong> 
  <span data-uib-popover
        data-popover-trigger="'mouseenter'"
        uib-popover-template="'app/environments/dialogs/asg/popovers/help-service-ignored.html'"
        data-popover-placement="top"
        class="glyphicon glyphicon-question-sign help-icon"
        aria-hidden="true">
  </span>
</span>
<span ng-if="vm.state === 'Missing'"><strong>Missing</strong>
  <span data-uib-popover
       data-popover-trigger="'mouseenter'"
       uib-popover-template="'app/environments/dialogs/asg/popovers/help-service-missing.html'"
       data-popover-placement="top"
       class="glyphicon glyphicon-question-sign help-icon"
       aria-hidden="true">
  </span>
</span>