<div class="row">
  <div class="col-md-12"><h2>Deployments</h2></div>
  <div id="RefreshData">
    <span class="glyphicon glyphicon-refresh" ng-click="vm.refresh()" title="Refresh data"></span>
  </div>
</div>

<form id="SearchFilter" class="form-inline">
  <div class="form-group">
    <label class="control-label text-left">Date:</label>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="vm.selectedDateRangeValue" ng-change="vm.refresh()" ng-options="d.value as d.name for d in vm.dateRangeList"></select>
  </div>
  <div class="form-group">
    <label class="control-label text-left">Environment:</label>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="vm.selectedEnvironment" ng-change="vm.refresh()">
      <option ng-repeat="env in vm.environmentsList" ng-selected="{{env == vm.selectedEnvironment}}" value="{{env}}">{{env}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label text-left">Status:</label>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="vm.selectedStatus" ng-change="vm.refresh()">
      <option ng-repeat="s in vm.statusList" ng-selected="{{s == vm.selectedStatus}}" value="{{s}}">{{s}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label text-left">Cluster:</label>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="vm.selectedOwningCluster" ng-change="vm.refresh()">
      <option ng-repeat="c in vm.owningClustersList" ng-selected="{{c == vm.selectedOwningCluster}}" value="{{c}}">{{c}}</option>
    </select>
  </div>
  <div class="form-group">
   <label class="control-label text-left">Service Name:</label>
 </div>
 <div class="form-group">
  <input type="search" name="ServiceName" class="form-control" ng-model="vm.serviceName" uib-typeahead="s for s in vm.uniqueServices" ng-model-options="{debounce: 200}" />
  </div>
</form>

<hr />
<div>
  <span style="margin-right: 10px" data-ng-repeat="(status, count) in vm.summary">
    <span class="glyphicon" data-ng-class="{
      'status-in-progress glyphicon-question-sign':   status === 'In Progress',
      'status-success glyphicon-ok-sign':             status === 'Success',
      'warning glyphicon-exclamation-sign':                      status === 'Cancelled',
      'status-failed glyphicon-alert':                status === 'Failed'}">
    </span>
     {{status}}: <strong>{{count}}</strong> 
  </span>
</div>
<hr />

<uib-tabset active="vm.selectedTab">
  <uib-tab heading="Deployments" ng-click="vm.chooseTab(0)">
    <ops-deployments-list query="vm.query" update-summary="vm.updateSummary" show-details="vm.showDetails" found-services-filter="vm.foundServicesFilter" ng-if="$parent.tabset.active === 0"></ops-deployments-list>
  </uib-tab>
  <uib-tab heading="New instances" ng-click="vm.chooseTab(1)">
    <ops-deployments-instances query="vm.query" instances-filter="vm.instancesFilter" ng-if="$parent.tabset.active == 1"></ops-deployments-instances>
  </uib-tab>
</uib-tabset>
