<div class="modal-header">
    <h2>Status:
        <span class="{{vm.view.statusClass}}">{{vm.view.status}}</span>
    </h2>
    <div id="RefreshData" ng-show="vm.view.Status === 'In Progress'">
        <span class="glyphicon glyphicon-refresh {{vm.view.statusClass}}" ng-class="{ spin: vm.spin }" ng-click="vm.refresh()" title="Refresh data"></span>
    </div>
</div>

<div class="modal-body">
    <div class="summary">
        <ul>
            <li>
                <strong>{{vm.view.duration.label}}:</strong> {{vm.view.duration.value}}</li>
            <li>
                <strong>Service:</strong> {{vm.view.ServiceName}} ({{vm.view.ServiceVersion}})</li>
            <li>
                <strong>AutoScalingGroup:</strong>
                <a ng-href="{{vm.view.asgLink}}">{{vm.view.asgName}}</a>
            </li>
            <li>
                <strong>User:</strong> {{vm.view.User}} ({{vm.view.OwningCluster}})</li>
            <li>
                <strong>Deployment ID:</strong> {{vm.view.DeploymentID}}</li>
            <li data-ng-if="vm.expectedNodesKnown">
                <strong>Nodes Deployed:</strong> {{vm.view.nodesCompleted}} / {{vm.view.nodes.length}}</li>
        </ul>
        <br>
        <p>Please ask in the
            <a href="{{vm.deploymentSupportSlack}}">#deployment-support</a> channel if you need assistance.</p>
        <div ng-if="vm.view.error" class="alert alert-danger">
            <ul>
                <li>
                    <strong>Error:</strong> {{vm.view.error.error}}</li>
                <li ng-if="vm.view.error.detail">
                    <strong>Detail:</strong> {{vm.view.error.detail}}</li>
            </ul>
        </div>

        <button class="btn btn-default cancel-deployment" type="button" ng-if="vm.allowCancel()" ng-click="vm.cancelDeployment()">Cancel Deployment...</button>
    </div>
    <div ng-if="vm.deploymentWaiting">
        <div class="alert alert-info">
            <p>Environment Manager will now wait 60 minutes for the Consul Deployment Agent
                    (CDA) that is installed on each node to perform the deployment.</p>
            <p>If deployment appears to hang and one or more of the nodes seem to be stuck in
                <strong>Not Started</strong> state then please check the status of the node.</p>
            <p>Please verify the node is: </p>
            <hr>
            <ul>
                <li>
                    <span class="glyphicon glyphicon-question-sign"></span> Switched on</li>
                <li>
                    <span class="glyphicon glyphicon-question-sign"></span> Has enough resources to run the deployment (disk space, memory, CPU)</li>
                <li>
                    <span class="glyphicon glyphicon-question-sign"></span> Has network connectivity (try to connect to your node using RDP or SSH)</li>
            </ul>
        </div>
        <hr>
    </div>

    <h4>Deployment Log</h4>
    <pre class="log">{{vm.view.log.lines}}</pre>

    <div ng-if="vm.view.nodes && vm.view.nodes.length > 0">
        <h4>Nodes</h4>
        <div class="nodes">
            <table>
                <thead>
                    <tr>
                        <th>Node</th>
                        <th>Status</th>
                        <th>Duration</th>
                        <th>No. Attempts</th>
                        <th>Full Log</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="node in vm.view.nodes" data-ng-class="{'initializing':node.initializing || node.failedToInitialize} ">
                        <td>{{node.instanceId}}
                            <span ng-show="node.instanceIP">({{ node.instanceIP }})</span>
                        </td>
                        <td class="{{node.status.class}}">
                            <span ng-if="node.status.status.toLowerCase()=='in progress'" class="glyphicon glyphicon-refresh"></span>
                            <span ng-if="node.status.status.toLowerCase()=='success'" class="glyphicon glyphicon-ok"></span>
                            <span ng-if="node.status.status.toLowerCase()=='failed'" class="glyphicon glyphicon-remove"></span>
                            <span data-ng-if="node.initializing">
                                <img src="/assets/images/activity.gif" style="margin-left: 14px" />
                            </span>
                            <span data-ng-hide="node.initializing">
                                {{node.status.status}}
                            </span>
                            <span ng-if="node.status.lastStage"> ({{node.status.lastStage}})</span>
                        </td>
                        <td>{{node.duration}}</td>
                        <td>{{node.numberOfAttempts}}</td>
                        <td>
                            <a target="_blank" ng-show="node.logLink" href="{{node.logLink}}">Show</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.ok()">OK</button>
</div>