<spinner ng-show="vm.dataLoading"></spinner>

<div class="row deployments-instances" ng-show="vm.dataFound && !vm.dataLoading">
  <div class="col-md-12" ng-if="vm.instances.length == 0">
    <h3 class="empty-deployments">No instances match your selection</h3>
  </div>
  <div class="col-md-12" ng-if="vm.instances.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Instance</th>
          <th>Status <span data-uib-popover
                  data-popover-trigger="'mouseenter'"
                  uib-popover-template="'app/operations/popovers/instance-deployment-status.html'"
                  data-popover-placement="top"
                  class="glyphicon glyphicon-question-sign help-icon"
                  aria-hidden="true">
            </span>
          </th>
          <th>Environment</th>
          <th>Auto Scaling Group</th>
          <th>Services</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="instance in vm.instances | filter: vm.instancesFilter() | orderBy: '-timestamp'">
          <td>
            <span am-time-ago="instance.CreationTime"></span><br />
            <small>{{instance.CreationTime | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}</small>
          </td>
          <td>
            <health-status status='instance.OverallHealth' title='{{ instance.hoverTitle }}'></health-status> {{ instance.Name || '-'}} <small>({{ instance.InstanceId || '-'}})</small>
            <br /><small>IP: {{ instance.PrivateIpAddress }}</small>
          </td>
          <td class="status-{{instance.DeploymentStatus.replace(' ', '-').toLowerCase() }}">
            <span ng-if="instance.DeploymentStatus == 'Success'">
              <span class="glyphicon glyphicon-ok"></span>
              <span>Success</span>
            </span>
            <span ng-if="instance.DeploymentStatus == 'Failed'">
              <span class="glyphicon glyphicon-remove"></span>
              <span>Failed</span>
            </span>
            <span ng-if="instance.DeploymentStatus == 'In Progress'">
              <span class="glyphicon glyphicon-remove"></span>
              <span>In Progress</span>
            </span>
            <span ng-if="instance.DeploymentStatus == 'Cancelled'">
              <span class="glyphicon glyphicon-remove"></span>
              <span>Cancelled</span>
            </span>
          </td>
          <td>
            <a ng-href='#/environment/servers/?environment={{instance.Environment}}'>{{instance.Environment}}<br>
            <small>({{instance.EnvironmentType}})</small></a>
          </td>
          <td>
            <a ng-href="{{ instance.asgLink }}">
              {{ instance['aws:autoscaling:groupName'] }}
            </a>
          </td>
          <td>
            <table class="table">
              <tbody>
                <tr ng-repeat="service in instance.Services">
                  <td><health-status status='service.OverallHealth'></health-status> {{ service.NameAndSlice }}
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <button class="btn btn-default" type="button" ng-click="vm.showDetails(instance)">Show details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
